* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(53, 221, 34, 1) 0%,
    rgba(241, 230, 158, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
}

input[type="radio"] {
  float: left;
}

label {
  margin-left: 30px;
  display: block;
}

.container {
  background-color: white;
  width: 60%;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  border-top: 0.75rem solid #ff0000;
  margin: 1rem;
}

.quiz-container {
  padding: 0 0 1rem 0;
}

.quiz-container__question-number {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 2rem;
  text-align: left;
  background-color: orange;
}

.quiz-container__question,
.quiz-container__question-options {
  text-align: left;
  padding-left: 2rem;
  margin: 1rem auto;
}
.quiz-container__question-option {
  padding: 1rem 0;
}

.btns {
  display: inline-block;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  float: left;
}

.sortContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sortBy {
  font-size: 2rem;
  margin: 0.75rem 0;
  padding: 0.25rem 1rem;
  border: 1px solid green;
}

.sortables-option {
  font-size: 3rem;
  margin-top: 0.5rem;
  cursor: grab;
}

.sortables-option:hover {
  color: white;
  background-color: green;
  border-radius: 10px;
}

.check-button {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.solution-box {
  display: block;
  text-align: left;
  font-size: 3rem;
  padding-left: 2rem;
  margin: 1rem auto;
}

.solution-box__correct {
  color: green;
}

.solution-box__wrong {
  color: red;
}

.correct-answer {
  background-color: lightgreen;
}

.wrong-answer {
  background-color: lightsalmon;
}

.sort-box__correct {
  color: green;
}

.sort-box__wrong {
  color: red;
}

.hidden {
  display: none;
}
