* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(53, 221, 34, 1) 0%,
    rgba(241, 230, 158, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

input[type="radio"] {
  float: left;
}

label {
  margin-left: 30px;
  display: block;
}

.head-text {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 75%;
  text-align: left;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.container {
  background-color: white;
  width: 60%;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  border-top: 0.75rem solid #ff0000;
  margin: 1rem;
}

.quiz-container {
  padding: 0 0 1rem 0;
}

.quiz-container__question-number {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 2rem;
  text-align: left;
  background-color: orange;
}

.quiz-container__question,
.quiz-container__question-options {
  text-align: left;
  padding-left: 2rem;
  margin: 1rem auto;
}
.quiz-container__question-option {
  padding: 1rem 0;
}

.btns {
  display: inline-block;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}

.again-btn {
  background-color: orange;
  margin-top: 1rem;
}

.answer-btn {
  float: left;
  margin-left: 2rem;
}

.check-btn {
  background-color: darkgreen;
  margin-top: 1rem;
}

.sortContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sortBy {
  font-size: 2rem;
  margin: 0.75rem 0;
  padding: 0.25rem 1rem;
  border: 1px solid green;
}

.sortables-option {
  font-size: 2rem;
  margin-top: 0.5rem;
  cursor: grab;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  transition: transform 0.3s;
}

.sortables-option:nth-child(1) {
  background-color: #fff7c4;
}
.sortables-option:nth-child(2) {
  background-color: #f1e69e;
}
.sortables-option:nth-child(3) {
  background-color: #d3e58b;
}
.sortables-option:nth-child(4) {
  background-color: #b5e377;
}
.sortables-option:nth-child(5) {
  background-color: #7be050;
}
.sortables-option:nth-child(6) {
  background-color: #63df40;
}
.sortables-option:nth-child(7) {
  background-color: #4cde31;
}
.sortables-option:nth-child(8) {
  background-color: #35dd22;
}

.solution-box {
  display: block;
  text-align: left;
  font-size: 2rem;
  padding-left: 2rem;
  margin: 1rem auto;
  text-align: center;
}

.solution-box__correct {
  color: green;
}

.solution-box__wrong {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: red;
}

.correct-answer {
  background-color: lightgreen;
}

.wrong-answer {
  background-color: lightsalmon;
}

.sort-box__correct {
  color: green;
}

.sort-box__wrong {
  color: red;
}

.hidden {
  display: none;
}

.dragging {
  opacity: 1;
  color: white;
}

.highlighted:hover {
  transform: translateY(-0.5rem) scale(1.05);
}
